@model newAdmin.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<style>
    body {
        background-color: background: #2C3E50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
    }
</style>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nameusuario" class="control-label"></label>
                <input asp-for="Nameusuario" class="form-control" />
                <span asp-validation-for="Nameusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordUsuario" class="control-label"></label>
                <input asp-for="PasswordUsuario" class="form-control" />
                <span asp-validation-for="PasswordUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

